.imageCard {
  width: 200px;
  height: 250px;
  margin-left: 14px;
}

.frame {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
  }
}
