.carouselWrapper {
  display: flex;

  li {
    width: 100%;
    height: 800px;

    .carouselItem {
      width: inherit;
      height: inherit;
      border-radius: 8px;
      object-position: center;
      object-fit: cover;
    }
  }
}

.invisible {
  display: none;
}
