.app {
  max-width: 1200px;
  margin: auto;
  // min-height: 100vh;

  main {
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-top: 60px;
    padding: 10px 20px;
  }
}
