@use '../../styles' as styles;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
  z-index: 10;

  h1 {
    font-size: 36px;
    color: inherit;
  }

  nav {
    ul {
      display: flex;

      li {
        margin-left: 20px;
      }
    }
  }

  @include styles.breakpoint(mobile) {
    display: block;

    h1 {
      font-size: 20px;
      line-height: 40px;

      strong {
        font-size: 26px;
        font-weight: 700;
      }
    }

    nav {
      visibility: hidden;
      position: absolute;
      left: 10px;
      top: 90px;
      padding: 14px;
      background-color: beige;

      ul {
        display: flex;
        flex-direction: column;
      }
    }

    .menu {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
    }

    .isShow {
      visibility: visible;
    }
  }
}

.logo {
  color: inherit;
}

.nav {
  color: inherit;

  &:hover {
    font-weight: 800;
    border-bottom: 1px solid black;
  }
}
